/* src/components/HomePage.css */
.home-page {
  min-height: 100vh; /* Use min-height to ensure full viewport coverage */
  display: flex;
  flex-direction: column; /* Use column direction for proper stacking */
  align-items: center;
  padding: 1rem;
  margin: 9rem 0 0 0; /* Add top margin to accommodate NavBar */
  text-align: center;

  overflow: scroll;
}

.hero-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  width: 100%;
  max-height: 80vh; /* Adjust max-height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(82, 85, 84, 0.2);
  margin: 0;
  opacity: 0.8;
}

.hero-h2-position {
  position: absolute;
  top: 15%;
  left: 0; /* Align to left edge */
  right: 0; /* Align to right edge */
  margin: 0 auto; /* Center horizontally */
}

.glow {
  font-family: "Funnel Display", sans-serif;
  color: #e6dcda;
  font-size: 6rem;
  text-align: center;
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 0.6rem #b5c2c4, 0 0 20px #5e3d45, 0 0 30px #e66f0d,
      0 0 40px #f5bf0f, 0 0 50px #f10761, 0 0 60px #e60073, 0 0 70px #e45c5c;
  }

  to {
    text-shadow: 0 0 1rem #bbdbda, 0 0 30px #6db3c9, 0 0 40px #8ec4c3,
      0 0 50px #bc9ece, 0 0 60px #f2a706, 0 0 70px #d5a3a3, 0 0 80px #053342;
  }
}

.hero-message {
  position: absolute; /* Added absolute positioning */
  top: 65%; /* Adjusted top position */
  width: 80%; /* Use percentage for responsiveness */
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

.hero-button {
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #d0c6c0;
  background-color: #f57b4f; /* Tomato color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* position: absolute;  */
  /* bottom: 3%; 
  right: 3%;
  width: auto; */
  text-align: center;
}

.hero-button:hover {
  background-color: #ee5407;
  color: #1d2627;
}

/* Responsive adjustments - TO BE ADJUSTED */
@media (max-width: 768px) {
  .hero-image {
    width: 300px; /* Smaller width for smaller screens */
  }

  .hero-h2-position {
    font-size: 2rem;
  }

  .hero-message {
    font-size: 1rem;
  }

  .hero-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

/* Responsive adjustments - glow */
@media (max-width: 768px) {
  .glow {
    font-size: 2.5rem;
  }
  .hero-message {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .glow {
    font-size: 2rem;
  }
  .hero-message {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .hero-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
