body {
  margin: 7px;
  height: 1400;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* for the theme */
  background-color: var(--bg-color);
  color: var(--text-color);
}

[data-theme="light"] {
  --bg-color: #b8c2bf;
  --text-color: #090c0c;
}

[data-theme="dark"] {
  --bg-color: #090c0c;
  --text-color: #d9e5e7;
}

hr {
  top: 0;
  left: 0;
  color: "#d9e5e7";
}

h1 {
  font-family: "Funnel Display", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: 550;
  color: #6c6868;
  margin-bottom: 10px;
}

/*Fixed navbar applied to div wrapping Navbar in MyRoutes*/
.fixed-navbar {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

h2 {
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 550;
  color: #ee5407;
  /* color: #f57b4f; */
}

h3 {
  font-family: "Funnel Display", sans-serif;
  display: flex;
  justify-content: padding-left;
  margin-bottom: 0.8rem;
  font-weight: 550;
}

.content-top-margin {
  margin-top: 10rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 5%;
}

.contentAbout {
  flex: 1;
  width: 100%;
  max-height: 75wh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: flex;
  margin: 0;
  margin-top: 6rem;
  padding: 1rem;
}

.about-image {
  width: 100%; /* Takes 50% of the parent container's width */
  max-width: 25vw; /* Ensures it doesn't get too large */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 3rem 1rem;
  padding: 0;
}

.about-story {
  position: relative; /* Added absolute positioning */
  top: 5%; /* Adjusted bottom position */
  width: 80%; /* Use percentage for responsiveness */
  padding: 1.5rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
}

.about-quote {
  position: relative; /* Added absolute positioning */
  left: 5%;
  bottom: 5%; /* Adjusted bottom position */
  width: 80%; /* Use percentage for responsiveness */
  padding: 1.5rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: padding-top;
  align-items: flex-start;
  margin-left: 40px;
  margin-right: 40px;
  height: auto;
}

.containerColumn {
  /* margin: 7px; */
  margin-left: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.containerColumnB {
  /* margin-left: 10px; */
  margin-top: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerContact {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.contentContact {
  margin-left: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-page {
  padding: 20px;
  /* General styling for the contact page */
}

@keyframes cycleBackground {
  0% {
    background-color: orange;
  }
  25% {
    background-color: tomato;
  }
  50% {
    background-color: aquamarine;
  }
  75% {
    background-color: rgb(255, 157, 0);
  }
  100% {
    background-color: turquoise;
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  25% {
    color: mediumseagreen;
  }
  50% {
    color: peru;
  }
  75% {
    color: yellow;
  }
  100% {
    transform: translateX(-100%);
  }
}

.app-button {
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #d9e5e7;
  background-color: #1d2627;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app-button:hover {
  background-color: #ea4d13;
}

.joke-input {
  padding: 10px 20px;
  font-size: 1rem;
  width: 300px;
  color: #010605;
  background-color: #eae1e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.portfolio-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.portfolio-section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
